In [1]:
import numpy as np

# Generate sample data:heights of 30 Students(in inches)

In [2]:
np.random.seed(42)
heights=np.random.normal(loc=65 ,scale=3, size=30)

In [3]:
heights

array([66.49014246, 64.5852071 , 66.94306561, 69.56908957, 64.29753988,
       64.29758913, 69.73763845, 67.30230419, 63.59157684, 66.62768013,
       63.60974692, 63.60281074, 65.72588681, 59.26015927, 59.8252465 ,
       63.31313741, 61.96150664, 65.942742  , 62.27592777, 60.7630889 ,
       69.39694631, 64.3226711 , 65.20258461, 60.72575544, 63.36685183,
       65.33276777, 61.54701927, 66.12709406, 63.19808393, 64.12491875])

# point estimation:calculate the sample mean

In [4]:
sample_mean=np.mean(heights)
print("Sample Mean (point Estimation):",sample_mean)

Sample Mean (point Estimation): 64.43555931244688

In [5]:
import numpy as np
import scipy.stats as stats

# Generate sample data: heights of students(in inches)

In [6]:
np.random.seed()
heights=np.random.normal(loc=65 ,scale=3, size=30)

In [7]:
sample_mean=np.mean(heights)
sample_std=np.std(heights,ddof=1)

# set desired confidence level

In [8]:
confidence_level=0.95

# Calculate the margin of error

In [9]:
margin_of_error=stats.t.ppf((1+confidence_level)/2,len(heights)-1)*(sample_std/np.sqrt(len(heights)))

# Calculate the confidence interval

In [10]:
lower_bound=sample_mean-margin_of_error
upper_bound=sample_mean+margin_of_error

#  Print the confidece interval

In [11]:
print(f"Confidence Interval ({confidence_level*100}%):[{lower_bound},{upper_bound}")

Confidence Interval (95.0%):[63.54485112388161,65.82867955778491

# Hypothesis T Test

In [12]:
import numpy as np

In [13]:
from scipy import stats

# Generate sample data for two groups

In [14]:
np.random.seed(42)
group1_scores=np.random.normal(loc=70,scale=5,size=30)
group2_scores=np.random.normal(loc=75,scale=5,size=30)

# performance independent T-test

In [15]:
t_statistic,p_value= stats.ttest_ind(group1_scores,group2_scores)

In [16]:
alpha=0.05

In [17]:
print("T-test Results:")
print("T-statistic:",t_statistic)
print("P-value:",p_value)

T-test Results:
T-statistic: -4.512913234547576
P-value: 3.176506547469916e-05

# Check if the p-value is less than alpha to determine significance

In [18]:
if p_value<alpha:
    print("Reject the null hypotheis.there is a significance difference between the means of the two groups")
else:
        print("fail to reject the null hypothesis .there is no a significance difference betwen the means of the two groups")

Reject the null hypotheis.there is a significance difference between the means of the two groups

# perform two-tailed t-test

In [28]:
t_statistic_2tail,p_value_2tail= stats.ttest_ind(group1_scores,group2_scores,alternative='greater')

# perform one-tailed t-test(left-tailed)

In [34]:
t_statistic_1tail_left,p_value_1tail_left=stats.ttest_ind(group1_scores,group2_scores,alternative='greater')

# print two-tailed test result

In [35]:
print("Two-tailed Test:")
print("T-statistic:",t_statistic_2tail)
print("P-value:",p_value_2tail)

Two-tailed Test:
T-statistic: -4.512913234547576
P-value: 0.9999841174672627

# print one-tailed test resulte

In [36]:
print("\none-tailed Test (left-tailed):")
print("T-statistic:",t_statistic_1tail_left)
print("P-value:",p_value_1tail_left)

one-tailed Test (left-tailed):
T-statistic: -4.512913234547576
P-value: 0.9999841174672627